:root {
  --bkg-color: #1c2f47;
  /* #012244; */
  /* OC note: set the default bkg-color vars to same custom color from json to load more smoothly */
  --text-color: #f5f5f5;
  --button: #8c80a8;
  --pane-bkg: #2b4361;
  --pane-border: #757575;
  --overlay: #1c2f47;
  --progress-val: #cccccc;
  --progress-remainder: #757575;
}

/* ----------------------------------------------------------------- */
/* PANE SCREEN */
/* ----------------------------------------------------------------- */

#screen {
  z-index: 99;
}


/* ----------------------------------------------------------------- */
/* TABLE */
/* ----------------------------------------------------------------- */

#sessions-list th {
  font-weight: normal;
}

table {
  font-weight: 350;
}


/* ----------------------------------------------------------------- */
/* ENDORSEMENT TEXT */
/* ----------------------------------------------------------------- */

#s-endorsement {
  margin-top: -30px; /* move endorsement text up */
}


/* ----------------------------------------------------------------- */
/* CHARTS */
/* ----------------------------------------------------------------- */

#charts {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  min-width: 1147px;
}

/* #chart-page {
  width: 100vw;
  height: auto;
  background-color: var(--bkg-color);
} */

#chart-chambers, #chart-parties, #chart-members, #chart-bench {
  width: 35% !important;
  height: auto !important;
  margin: 2% 4%;
}

@media only screen and (max-width: 1370px) {
  #chart-chambers, #chart-parties, #chart-members, #chart-bench {
    width: 50% !important;
    margin: 4% 4%;
  }

  #charts {
    position: relative;
    left: 50%;
    transform: translateX(-53%); /* keeps centered horizontally */
  }
}

/* #chart-parties {
  width: 35% !important;
  height: auto !important;
  margin: 2% 4%;
}

#chart-members {
  width: 35% !important;
  height: auto !important;
  margin: 2% 4%;
}

#chart-bench {
  width: 35% !important;
  height: auto !important;
  margin: 2% 4%;
} */


/* ----------------------------------------------------------------- */
/* TITLE */
/* ----------------------------------------------------------------- */

#created-from-id {
  font-weight: lighter;
}

#chart-title {
  font-size: 2.2rem;
}

/* @media only screen and (max-width: 1420px) {
  h1 {
    font-size: 4.2rem;
  }

  h2 {
    font-size: 2.4rem;
  }
} */

