:root {
  --bkg-color: #1c2f47;
  /* #012244; */
  /* OC note: set the default bkg-color vars to same custom color from json to load more smoothly */
  --text-color: #f5f5f5;
  --button: #8c80a8;
  --pane-bkg: #2b4361;
  --pane-border: #757575;
  --overlay: #1c2f47;
  --progress-val: #cccccc;
  --progress-remainder: #757575;
}

/* #chart-page {
  width: 100vw;
  height: auto;
  background-color: var(--bkg-color);
} */

#screen {
  z-index: 99;
}

#charts {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

#chart-chambers {
  width: 35% !important;
  height: auto !important;
  margin: 2% 4%;
}

#chart-parties {
  width: 35% !important;
  height: auto !important;
  margin: 2% 4%;
}

#chart-members {
  width: 35% !important;
  height: auto !important;
  margin: 2% 4%;
}

#chart-bench {
  width: 35% !important;
  height: auto !important;
  margin: 2% 4%;
}
