:root {
  --bkg-color: #1c2f47;
  --text-color: #f5f5f5;
}

h2 {
  color: var(--text-color); /* blue; */
  width: 100%;
  font-weight: lighter;
  margin-top: 0;
}

#charts {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

#chart {
  width: 68vw !important;
  height: auto !important;
  margin: 2% 2%;
  padding: 2%;
}
