:root {
  --bkg-color: #d5eddc; /* #012244; */ 
  --header-footer-bkg: #76b7e8; /* #3c1b36; */
  /* OC note: set default bkg-color to same custom color from json to load more smoothly */
  --text-color: white;
  --button: #012266;
  --scroll-bar: #012255;
  --scroll-bar-hover: #012266;
  --pane-bkg: #d9cb50;
}

/* width */
::-webkit-scrollbar {
  width: 15px;
  background: var(--pane-bkg); /* var(--text-color); /* #012233; */
}

/* Track */
::-webkit-scrollbar-track {
  /* box-shadow: inset 0 0 5px grey; */
  border-radius: 3px;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: var(--scroll-bar); /* #012255; */
  border-radius: 10px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: var(--scroll-bar-hover); /* #012266; */
}

.noUi-target {
  border: dashed;
  background-color: var(--pane-bkg); /* #012244; */
  border-color: var(--text-color); /* white; */
  height: 1px;
  border-width: 1px;
}

.noUi-handle {
  border-style: none;
  outline: none;
  background: var(--button); /* #012266; */
  width: 20px !important;
  height: 20px !important;
  margin-top: 2px;
  border-radius: 20px;
}

.noUi-tooltip {
  display: block;
  position: absolute;
  border: none;
  border-radius: 3px;
  background: var(--button); /* #012266; */
  color: var(--text-color); /* white; */
  padding: 5px;
  text-align: center;
  white-space: nowrap;
}

.noUi-value {
  color: var(--text-color); /* color of min and max vals of slider */
}

.first-slider {
  z-index: 100;
  margin-top: calc(30vh + 25vh);
  position: fixed;
  top: 0;
  margin-left: 15%;
  width: 30%;
}

#slider-1a .noUi-value-large, #slider-1b .noUi-value-large, #slider-1c .noUi-value-large,
#slider-2a .noUi-value-large, #slider-2b .noUi-value-large, #slider-2c .noUi-value-large,
#slider-3a .noUi-value-large, #slider-3b .noUi-value-large, #slider-3c .noUi-value-large,
#slider-vp-a .noUi-value-large, #slider-vp-b .noUi-value-large, #slider-vp-c .noUi-value-large,
#slider-pres-a .noUi-value-large, #slider-pres-b .noUi-value-large, #slider-pres-c .noUi-value-large
{
    display: none;
}


#slider2, #slider7, #slider11, #slider13, #slider-1b, #slider-2b, #slider-3b, #slider-vp-b, #slider-pres-b
{
  z-index: 100;
  margin-top: calc(38vh + 25vh); /* 40vh */
  position: fixed;
  top: 0;
  width: 30%;
  margin-left: 15%;
}

#slider3, #slider8, #slider14, #slider-1c, #slider-2c, #slider-3c, #slider-vp-c, #slider-pres-c
{
  z-index: 100;
  margin-top: calc(46vh + 25vh); /* 50vh; */
  position: fixed;
  top: 0;
  margin-left: 15%;
  width: 30%;
}

#slider4, #slider9 {
  z-index: 100;
  margin-top: calc(54vh + 25vh); /* 60vh; */
  position: fixed;
  top: 0;
  width: 30%;
  margin-left: 15%;
}

#slider4a, #slider9a {
  z-index: 100;
  margin-top: calc(62vh + 25vh); /* 70vh; */
  position: fixed;
  top: 0;
  width: 30%;
  margin-left: 15%;
}


/* 72px between each text */
#slider-text-1 {
  display: block;
  z-index: 100;
  margin-top: calc(29vh + 25vh);
  position: fixed;
  top: 0;
  right: 70%;
  font-size: .8em;
}

#slider-text-2 {
  display: block;
  z-index: 100;
  margin-top: calc(37vh + 25vh); /* 39vh; */
  position: fixed;
  top: 0;
  right: 70%;
  font-size: .8em;
}

#slider-text-3 {
  display: block;
  z-index: 100;
  margin-top: calc(45vh + 25vh); /* 49vh; */
  position: fixed;
  top: 0;
  right: 70%;
  font-size: .8em;
}

#slider-text-4 {
  display: block;
  z-index: 100;
  margin-top: calc(53vh + 25vh); /* 59vh; */
  position: fixed;
  top: 0;
  right: 70%;
  font-size: .8em;
}

#slider-text-5 {
  display: block;
  z-index: 100;
  margin-top: calc(61vh + 25vh); /* 69vh; */
  position: fixed;
  top: 0;
  right: 70%;
  font-size: .8em;
}

#page1, #page2, #page3, #page4, #page5, #page6, #page7, #page8 #page9, #page10, #page11, #page12, #pane-bkg {
  display: none;
}

.pane-bkg {
  display: none;
    width: 60%;
    height: 65%;
    background-color: var(--pane-bkg);
    position: fixed;
    top: 30%;
    left: 20%;
    margin-top: 90px;
    z-index: 99;
}

.total {
  bottom: 120px;
  width: 60%;
  text-align: center;
  position: fixed;
}

#slider-value {
  display: none;
  color: var(--text-color); /* white; */
  width: 200px;
  height: 200px;
  padding: 10px;
  /* text-align: justify; */
  /* background-color: #b0c6de; */
  border-radius: 3px;
}

#value-1, #value-2, #value-3, #value-4, #value-5 {
  display: none;
  font-size: .65em;
  text-transform: uppercase;
  background-color: var(--button); /* #012266; */
  padding: 2px;
  border-radius: 2px;
  z-index: 1;
}

#value-1 {
  margin-top: 29vh;
  position: fixed;
  top: 0;
  left: 70%;
}

#value-2 {
  margin-top: 39vh;
  position: fixed;
  top: 0;
  left: 70%;
}

#value-3 {
  margin-top: 49vh;
  position: fixed;
  top: 0;
  left: 70%;
}

#value-4 {
  margin-top: 59vh;
  position: fixed;
  top: 0;
  left: 70%;
}

#value-5 {
  margin-top: 69vh;
  position: fixed;
  top: 0;
  left: 70%;
}

.c-5-color {
  background: #b0c6de;
}

.c-4-color {
  background: #7b9fc9;
}

.c-3-color {
  background: #4b58ab;
}

.c-2-color {
  background: var(--button); /* #00287a; */
}

.c-1-color {
  background: var(--button); /* #012266; */
}



#next-btn {
  background-color: var(--button); /* #012266; */
  color: var(--text-color); /* white; */
  border: none;
  width: 55px;
  border-radius: 2px;
  /* margin-top: 20px; */
  padding: 6px 10px;
  outline: none;
  position: absolute;
  bottom: 100px;
  right: 47.5%;
  text-align: center;
  z-index: 101;
}

#enter {
  text-align: center;
  margin-top: 5%;
}

#enter img {
  width: 30%;
  transition: .5s ease;
  opacity: .3;
  padding-bottom: 50px;
}

#enter img:hover {
  opacity: 1;
}

#enter-btn {
  color: var(--text-color); /* white; */
}

#slider-disp {
  border-radius: 3px;
  display: none;
  background-color: var(--pane-bkg); /* #012266; */
  width: 40vw;
  height: 50vh;
  margin-left: 30vw;
  margin-right: auto;
  padding: 1%;
  z-index: 100;
  margin-top: 40vh;
  position: fixed;
  top: 0;
  overflow-y: auto;
  overflow-x: hidden;
  /* font-size: .8em; */
  /* z-index: 100; */
}

#slider-disp h3, #start-desc h3 {
  color: var(--text-color); /* #ddd; */
  text-transform: uppercase;
  font-size: .9em;
  text-align: left;
  padding-left: 20px;
}

#slider-disp p, #start-desc p {
  color: var(--text-color); /* #ddd; */
  padding-left: 50px;
  /* font-size: .85em; */
}

#top {
  font-family: "Work Sans","Helvetica Neue", Helvetica, Arial, sans-serif;
  font-style: normal;
  font-variant: normal;
  font-weight: normal;
  margin: 0px;
  left: 20%;
  margin-top: 29vh;
  display: block;
  position: fixed;
  top: 15%; /* 15% */
  width: 60%;
  height: 100px;
  text-align: center;
  font-size: 1.5em;
  color: var(--text-color); /* white; */
  z-index: 100;
}

#button-div {
  position: fixed;
  width: 90%;
  bottom: 80px;
  left: 5%;
  right: 5%;
  text-align: center;
  z-index: 100;
}

